html {
    font-size: 62.5%;
    height: 100%;
}

body {
    box-sizing: border-box;
    /* font-family: 'Alegreya', serif; */
    font-size: 1.6rem;
    font-family: Noto Sans TC, Sans-Serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 20;
    top: 0;
    height: 5.4rem;
}

.logo {
    font-weight: 700;
    color: #448899;
    font-size: 3rem;
    line-height: 3.4rem;
    cursor: pointer;
}

nav {
    width: 120rem;
    height: 5.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > li {
    list-style: none;
    margin-left: 2rem;
    cursor: pointer;
    color: #666;
    padding: 1rem;
    font-weight: 500;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
   
}

.modal-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%;  */
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    z-index: 10; 
}

.modal-content {
    width: 34rem; 
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 8rem;
}

.gradient-bar{
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    z-index: 10;
    /* width: 100%; */
    height: 1rem;
    border-radius: .6rem .6rem 0 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 0 .6rem .6rem;
    padding: 1.5rem;
    position: relative;
}

.form-exit {
    position: absolute;
    top: .7rem;
    right: 2rem;
    cursor: pointer;
    color: #bbb;
    width: 1.6rem;
}

.form-exit > img {
    width: 100%;
}

.form-input{
    height: 4.7rem;
    width: 100%;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: .5rem 0 .5rem 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form > h3 {
    font-weight: 700;
    font-size: 2.4rem;
    align-items: center;
    color: #666666;

}

.login-form > button{
    width: 100%;
    font-size: 1.9rem;
    line-height: 1.6rem;
    margin: 0.5rem 0 1rem 0;
    background-color: #448899;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    height: 4.7rem;
}

.to-register-wrapper{
    display: flex;
}

.to-register-wrapper > div {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.33rem;
    color: #666666;
}

.to-register-link {
    cursor: pointer;
    margin-left: .5rem;
}

.to-register-link:hover {
    color: #448899
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 0 .6rem .6rem;
    padding: 1.5rem;
    position: relative;
}

.register-form > h3 {
    font-weight: 700;
    font-size: 2.4rem;
    align-items: center;
    color: #666666;

}

.register-form > button{
    width: 100%;
    font-size: 1.9rem;
    line-height: 1.6rem;
    margin: 0.5rem 0 1rem 0;
    background-color: #448899;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    height: 4.7rem;
}

.to-login-wrapper{
    display: flex;
}

.to-login-wrapper > div {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.33rem;
    color: #666666;
}

.to-login-link {
    cursor: pointer;
    margin-left: .5rem;
}

.to-login-link:hover {
    color: #448899
}

.hidden {
    display: none;
}

footer {
    width: 100%;
    height: 10.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    padding: 4rem;
    color: white;
    margin-top: auto;
    flex-grow: 1;
}

/* main */
.main {
    flex: 1; /* 確保 main 佔據剩餘的空間 */
    display: flex;
    flex-direction: column;
    margin-top: 5.4rem;
}

.hr-1 {
    margin-top: 5.4rem;
    margin-bottom: 4rem;
    border: .1rem solid #E8E8E8;
    width: 100%
}

.booking-info-container-wrapper {
    width: 98rem;
    height: 20rem;
    font-size: 1.9rem;
    line-height: 1.6rem;
    color: #666666;
    margin: auto
}

.booking-info-container {
    width: 98rem;
    height: 20rem;
    margin: auto;
    overflow-y: auto;
}

.booking-welcome {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 1.6rem;
    color: #666666;
}

.booking-attraction-info-wrapper {
    display: flex;
    position: relative;
}

.booking-image {
    width: 20rem;
    height: 25rem;
    margin-right: 3rem;
}

.booking-image > img {
    width: 100%;
    object-fit: cover;
}

.booking-attraction-info > img {
    position: absolute;
    width: 3rem;
    top: 0;
    right: 0;
    cursor: pointer;
}

.attraction-name {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.33rem;
    color: #448899;
    margin-bottom: 2rem;
}

.no-booking-message {
    width: 98rem;
    margin: auto;
}

.travel-day, .travel-time, .travel-fee, .travel-position {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.33rem;
}

.travel-day, .travel-time, .travel-fee, .travel-position {
    margin-bottom: 2rem;
}

.travel-day > span, .travel-time > span, .travel-fee > span, .travel-position > span {
    font-weight: 400;
}

.hr-2, .hr-3, .hr-4 {
    margin: 4rem auto 4rem auto;
    border: 1px solid #E8E8E8
}

.user-info-container {
    width: 98rem;
    margin: auto
}

.user-info-title {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 1.6rem;
    color:#666666;
    margin-bottom: 2rem;
}

.user-name > label, .user-email > label, .user-phone > label {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.33rem;
    color: #666666;
}

.user-name > input, .user-email > input, .user-phone > input {
    width: 20rem;
    border-radius: .5rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
}

.user-name, .user-email, .user-phone {
    margin-bottom: 1.5rem;
}

.reminder {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.33rem;
    color:#666666

}

.credit-card-container {
    width: 98rem;
    margin: auto
}


/*  */
.credi-card-info-title {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 1.6rem;
    color:#666666;
    margin-bottom: 2rem;
}

.credit-card-number-wrapper > label, .expiration-date-wrapper > label, .cvv-wrapper > label {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.33rem;
    color: #666666;
}
/* 
.credit-card-number-wrapper > input, .expiration-date-wrapper > input, .cvv-wrapper > input {
    width: 20rem;
    border-radius: .5rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
} */

.credit-card-number-wrapper, .expiration-date-wrapper, .cvv-wrapper {
    display: flex;
    align-items: center;
}

.tpfield {
    width: 20rem;
    height: 38px;
    /* margin: 5px 0; */
    padding: 1px;
    box-sizing: border-box;
}

.input-system {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 13.3px;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.credit-card-number-wrapper, .expiration-date-wrapper{
    margin-bottom: 1.5rem;
}

.final-confirm-container {
    width: 98rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
}

.price {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.33rem;
    color: #666666;
}

.final-confirm-btn {
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: .5rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #448899;
    color: white;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.6rem;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none
}

@media (min-width: 360px) and (max-width:1200px) {
    nav {
        max-width: 90vw
    }

    .booking-info-container-wrapper {
        max-width: 90vw;
    }

    .section2-container {
        max-width: 90vw;
    }

    .reminder {
        line-height: 2.317rem;
    }

    .travel-position > span {
        line-height: 2.317rem;
    }

    .no-booking-message {
        max-width: 90vw;
    }
}

    .booking-attraction-info-wrapper {
        max-width: 90vw;
    }

    .booking-info-container {
        max-width: 90vw;
    }

    .hr-2, .hr-3, .hr-4 {
        max-width: 90vw;
    }

    .final-confirm-container {
        max-width: 90vw;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user-info-container {
        max-width: 90vw;
    }

    .credit-card-container {
        max-width: 90vw;
    }
@media (min-width: 360px) and (max-width:600px){
    nav {
        max-width: 95vw;
    }
    
    .menu > li {
        list-style: none;
        margin-left: 0;
        cursor: pointer;
        color: #666;
        padding: 1rem;
        font-weight: 500;
    }
}